In [15]:
import pandas as pd

In [16]:
df_C=pd.read_csv('Clients.csv')
df_F=pd.read_csv('Factures.csv')
df_P=pd.read_csv('Produits.csv')
df_C=df_C.drop(columns=["Unnamed: 0"])
df_F=df_F.drop(columns=["Unnamed: 0"])
df_P=df_P.drop(columns=["Unnamed: 0"])

In [17]:
df_C.columns

Index(['Cr√©ation', 'Identifier', 'adress', 'raisonSociale', 'madalite',
       'matriculeFiscale', 'ID', 'email', 'ID facture'],
      dtype='object')

In [18]:
df_F.head()

,date,reference,paymentDelay,createdAt,identifier,paymentMethod,paye,client,numeroCheque,ID_Produits,id,status
0,2020-02-21T12:35:32.068Z,1000247,2021-08-08T00:16:46.169Z,2020-02-21T12:36:13.068Z,1666239562000,check,True,188450,NaN,"{'Produit 1': 38350, 'Produit 2': 38500}",1035650,True
1,2021-01-02T23:00:00Z,1100008,2021-04-12T23:00:00Z,2021-01-05T08:56:54.181Z,-1187824257000,traite,True,188900,NaN,"{'Produit 1': 38350, 'Produit 2': 38500}",1035650,True
2,2021-01-26T23:00:00Z,1100031,2021-04-26T22:00:00Z,2021-01-28T11:30:19.707Z,-2080658422000,traite,True,188450,NaN,"{'Produit 1': 38350, 'Produit 2': 38500}",1035650,True
3,2019-11-14T12:14:03.068Z,1000182,2021-08-08T00:16:47.362Z,2019-11-14T12:14:03.068Z,-992794964000,check,True,189950,NaN,"{'Produit 1': 38350, 'Produit 2': 38500}",1035650,True
4,2019-02-14T17:09:11.068Z,1000030,2021-08-08T00:16:47.660Z,2019-02-14T17:09:11.068Z,-1766696871000,check,True,189950,NaN,"{'Produit 1': 38350, 'Produit 2': 38500}",1035650,True