https://towardsdatascience.com/free-stock-data-for-python-using-yahoo-finance-api-9dafd96cad2e

In [1]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\users\aymen\.conda\envs\p36workshop\lib\site-packages (0.1.63)
Requirement already satisfied: numpy>=1.15 in c:\users\aymen\.conda\envs\p36workshop\lib\site-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in c:\users\aymen\.conda\envs\p36workshop\lib\site-packages (from yfinance) (2.24.0)
Requirement already satisfied: pandas>=0.24 in c:\users\aymen\.conda\envs\p36workshop\lib\site-packages (from yfinance) (1.3.1)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\aymen\.conda\envs\p36workshop\lib\site-packages (from yfinance) (0.0.9)
Requirement already satisfied: lxml>=4.5.1 in c:\users\aymen\.conda\envs\p36workshop\lib\site-packages (from yfinance) (4.6.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\aymen\.conda\envs\p36workshop\lib\site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\aymen\.conda\envs\p36workshop\lib\site-packages (from pandas>=0.24->yfinance) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\aymen\.conda\envs\p36workshop\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\aymen\.conda\envs\p36workshop\lib\site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\aymen\.conda\envs\p36workshop\lib\site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\aymen\.conda\envs\p36workshop\lib\site-packages (from requests>=2.20->yfinance) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\aymen\.conda\envs\p36workshop\lib\site-packages (from requests>=2.20->yfinance) (2021.10.8)

In [2]:
import yfinance as yf
Symbol="JPYCHF"
JPYCHF = yf.Ticker("JPYCHF=X")

# get stock info
#print(JPYCHF.info)

# get historical market data
start_date="2021-10-30"
end_date="2022-04-30"
hist = JPYCHF.history(start="2021-10-30",end="2022-04-30",interval = "1h",
                              auto_adjust = True)

In [3]:
hist=hist[["Open","High","Low","Close"]]
hist.head()

                               Open      High       Low     Close
2021-11-01 00:00:00+00:00  0.008009  0.008032  0.008008  0.008031
2021-11-01 01:00:00+00:00  0.008031  0.008031  0.008013  0.008023
2021-11-01 02:00:00+00:00  0.008024  0.008031  0.008013  0.008028
2021-11-01 03:00:00+00:00  0.008028  0.008028  0.008014  0.008027
2021-11-01 04:00:00+00:00  0.008027  0.008027  0.008012  0.008023

In [4]:
hist.tail()

                               Open      High       Low     Close
2022-04-29 19:00:00+01:00  0.007494  0.007504  0.007482  0.007500
2022-04-29 20:00:00+01:00  0.007492  0.007502  0.007484  0.007485
2022-04-29 21:00:00+01:00  0.007486  0.007497  0.007479  0.007496
2022-04-29 22:00:00+01:00  0.007492  0.007492  0.007492  0.007492
2022-05-26 23:59:00+01:00  0.007526  0.007526  0.007526  0.007526

In [5]:
hist.shape #start="2021-10-30",end="2022-04-30"

(3089, 4)

In [6]:
hist.to_csv(r'..\data\{Sym}_data_{s}_{e}.csv'.format(Sym=Symbol,s=start_date,e=end_date), index=True)

In [7]:
import yfinance as yf
Symbol="USDEUR"
JPYCHF_2 = yf.Ticker("EUR=X")

# get stock info
#print(JPYCHF.info)

# get historical market data
start_date="2021-10-30"
end_date="2022-04-30"
hist = JPYCHF_2.history(start="2021-10-30",end="2022-04-30",interval = "1h",
                              auto_adjust = True)

In [8]:
hist=hist[["Open","High","Low","Close"]]

In [9]:
hist.shape

(3082, 4)

In [10]:
hist.to_csv(r'..\data\{Sym}_data_{s}_{e}.csv'.format(Sym=Symbol,s=start_date,e=end_date), index=True)

In [11]:
hist.tail()

                             Open    High     Low   Close
2022-04-29 19:00:00+01:00  0.9457  0.9463  0.9454  0.9454
2022-04-29 20:00:00+01:00  0.9461  0.9479  0.9456  0.9477
2022-04-29 21:00:00+01:00  0.9477  0.9483  0.9474  0.9480
2022-04-29 22:00:00+01:00  0.9480  0.9480  0.9480  0.9480
2022-05-26 23:59:00+01:00  0.9312  0.9312  0.9312  0.9312

In [12]:
import yfinance as yf
Symbol="GBPAUD"
JPYCHF_1 = yf.Ticker("GBPAUD=X")

# get stock info
#print(JPYCHF.info)

# get historical market data
start_date="2021-10-30"
end_date="2022-04-30"
hist = JPYCHF_1.history(start="2021-10-30",end="2022-04-30",interval = "1h",
                              auto_adjust = True)

In [13]:
hist=hist[["Open","High","Low","Close"]]

In [14]:
hist.shape

(3095, 4)

In [15]:
hist.to_csv(r'..\data\{Sym}_data_{s}_{e}.csv'.format(Sym=Symbol,s=start_date,e=end_date), index=True)

In [16]:
hist.tail()

                              Open     High      Low    Close
2022-04-29 19:00:00+01:00  1.77567  1.77928  1.77506  1.77894
2022-04-29 20:00:00+01:00  1.77899  1.78041  1.77733  1.77992
2022-04-29 21:00:00+01:00  1.77995  1.78175  1.77690  1.78013
2022-04-29 22:00:00+01:00  1.77982  1.77982  1.77982  1.77982
2022-05-26 23:59:00+01:00  1.76400  1.76400  1.76400  1.76400

In [17]:
!pip freeze > requirements.txt