In [11]:
import yfinance as yf
import pandas as pd
import datetime 
hour = datetime.timedelta(hours=1)
Symbol="JPYCHF"
JPYCHF = yf.Ticker("JPYCHF=X")

# get historical market data
start_date_str="2022-04-30"
start_date=datetime.datetime.strptime(start_date_str,'%Y-%m-%d').date()
hist = JPYCHF.history(start=start_date,interval = "1h")
hist=hist[["Open","High","Low","Close"]]
new_step=hist.head(1)

In [2]:
new_step

                               Open      High       Low     Close
2022-05-02 00:00:00+01:00  0.007468  0.007491  0.007468  0.007488

In [14]:
#read old and make copy of it:
old_csv=pd.read_csv(r'../data/JPYCHF_data_2021-10-30_2022-04-30.csv')
old_csv.set_index("Unnamed: 0", drop=True, append=False, inplace=True)
last_row = len(old_csv) - 1
old_csv = old_csv.drop(old_csv.index[last_row])
old_csv.to_csv('../data/JPYCHF_step0.csv', mode='a', index=True, header=True)

In [15]:
old_csv.tail()

                               Open      High       Low     Close
Unnamed: 0
2022-04-29 18:00:00+01:00  0.007486  0.007499  0.007479  0.007493
2022-04-29 19:00:00+01:00  0.007494  0.007504  0.007482  0.007500
2022-04-29 20:00:00+01:00  0.007492  0.007502  0.007484  0.007485
2022-04-29 21:00:00+01:00  0.007486  0.007497  0.007479  0.007496
2022-04-29 22:00:00+01:00  0.007492  0.007492  0.007492  0.007492

In [5]:
Symbol="USDEUR"
JPYCHF_1 = yf.Ticker("EUR=X")

In [6]:
start_date_str="2022-04-30"
start_date=datetime.datetime.strptime(start_date_str,'%Y-%m-%d').date()
hist = JPYCHF_1.history(start=start_date,interval = "1h")
hist=hist[["Open","High","Low","Close"]]
new_step=hist.head(1)

In [7]:
#read old and make copy of it:
old_csv=pd.read_csv(r'../data/USDEUR_data_2021-10-30_2022-04-30.csv')
old_csv.set_index("Unnamed: 0", drop=True, append=False, inplace=True)
last_row = len(old_csv) - 1
old_csv = old_csv.drop(old_csv.index[last_row])
old_csv.to_csv('../data/USDEUR_step0.csv', mode='a', index=True, header=True)

In [8]:
old_csv.tail()

                             Open    High     Low   Close
Unnamed: 0
2022-04-29 18:00:00+01:00  0.9477  0.9477  0.9449  0.9452
2022-04-29 19:00:00+01:00  0.9457  0.9463  0.9454  0.9454
2022-04-29 20:00:00+01:00  0.9461  0.9479  0.9456  0.9477
2022-04-29 21:00:00+01:00  0.9477  0.9483  0.9474  0.9480
2022-04-29 22:00:00+01:00  0.9480  0.9480  0.9480  0.9480

In [9]:
Symbol="GBPAUD"
JPYCHF_2 = yf.Ticker("GBPAUD=X")
start_date_str="2022-04-30"
start_date=datetime.datetime.strptime(start_date_str,'%Y-%m-%d').date()
hist = JPYCHF_2.history(start=start_date,interval = "1h")
hist=hist[["Open","High","Low","Close"]]
new_step=hist.head(1)
#read old and make copy of it:
old_csv=pd.read_csv(r'../data/GBPAUD_data_2021-10-30_2022-04-30.csv')
old_csv.set_index("Unnamed: 0", drop=True, append=False, inplace=True)
last_row = len(old_csv) - 1
old_csv = old_csv.drop(old_csv.index[last_row])
old_csv.to_csv('../data/GBPAUD_step0.csv', mode='a', index=True, header=True)

In [10]:
old_csv.tail()

                              Open     High      Low    Close
Unnamed: 0
2022-04-29 18:00:00+01:00  1.77544  1.77717  1.77406  1.77567
2022-04-29 19:00:00+01:00  1.77567  1.77928  1.77506  1.77894
2022-04-29 20:00:00+01:00  1.77899  1.78041  1.77733  1.77992
2022-04-29 21:00:00+01:00  1.77995  1.78175  1.77690  1.78013
2022-04-29 22:00:00+01:00  1.77982  1.77982  1.77982  1.77982